<style>
table,th,td
{
border:1px solid black;
padding:2px;
font-family:"Times New Roman", Times, serif;
}
table
{
border-spacing:40px;
}
td {
font-size:20px;
border-spacing:40px;
}
body {background-color:#b0c4de;} 
input[type=submit] {
    width: 20em;  height: 2em;
}
</style>
